
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-12">
        <center>
            <img src="/Content/images/vellybelly.jpg" style="width: 30%;">
        </center>
    </div>